@keyframes cursorPulse {
  from{
    width: 30px;
    height: 30px;
  }
  
  to{
    width: 50px;
    height: 50px;

  }
}

.customcursor{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  opacity: 0.4;
  background-color: orange;
  position: fixed;
  top: 50;
  left: 50;
  animation: cursorPulse 500ms alternate infinite;
  transform-origin: center;
}
