.navbutton{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 100px;
  width: 40px;
  aspect-ratio: 1/1;
  position: fixed;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

.navbutton_active{
  border-color: darkslategray;
}

.navbutton__menu-line{
  width: 20px;
  height: 2px;
  background-color: white;
  transition: 250ms ease-out;
}


.navbutton__menu-line_top{
  transform: translateY(7px) rotate(45deg);
  transform-origin: center;
  background-color: darkslategray;
}

.navbutton__menu-line_bottom{
  transform: translateY(-7px) rotate(-45deg);
  transform-origin: center;
  background-color: darkslategray;
}

.navbutton__menu-line_middle{
  opacity: 0;
}

@media (max-width:800px) {
  .navbutton{
    top: 3rem;
    right: 2rem;
    /* transform: translateX(-50%); */
  }
}
