@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
  
}

.work{
  width: 100vw;
  height: 100vh;
  background-color: #242424;
}

/* ------------ DESKTOP VERSION --------------- */
.work__header{
  width: 100%;
  height: 200px;
  border-bottom: 1px solid white;
  padding-inline: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(36,36,36);
  z-index:5;
  position: fixed;
  top: 0;
  left: 0;

  h2{
    font-size: 6rem;
    transform: translateY(-10px);
  }

  h3{
    margin-top: -1.5rem;
    font-size: 1.5rem;
    color: orange;
    font-weight: 400;
    transform: translateX(1ch);
  }

}

.work__clients{
  display: flex;
  width: 80%;
  margin-inline: auto;
}

.work__client-wrapper{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work__client-line{
  width: 1px;
  height: 50vh;
  background-color: orange;
}

.work__client-link{
  text-align: center;
  cursor: pointer;
  transition: 250ms ease-in-out;
  position: relative;
  font-size: 1.5rem;
  text-wrap: nowrap;
  }
  
.work__client-link:hover{
  color: orange;
}

.work__client-link::after{
  content: '';
  width: 0%;
  height: 1px;
  background-color: orange;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 250ms ease-in-out;
}

.work__client-link:hover::after{
  width: 100%;
}

#two{
  transform: translateY(20%);
  }
  
#three{
  transform: translateY(-10%);
}
#four{
  transform: translateY(25%);
  }
  
#five{
  transform: translateY(5%);
}
#six{
  transform: translateY(20%);
  }
  
#seven{
  transform: translateY(-10%);
}
#eight{
  transform: translateY(25%);
  }
  
#nine{
  transform: translateY(5%);
}

#ten{
  transform: translateY(20%);
}
.work__header_mobile{
  display: none;
}

.work__clients_mobile{
  display: none;
}

@media (max-width: 800px) {
  .work__header{
    display: none;
  }

  .work__clients{
    display: none;
  }
}

/* -------------- MOBILE VERSION (PORTRAIT)------------------- */
@media (max-width: 800px) {
  .work{
    height: max-content
  }
  
  .work__header_mobile{
    display: flex;
    align-items: baseline;
    gap: 1rem;
    position: fixed;
    bottom: 12rem;
    right: -12rem;
    transform: rotate(-90deg);
  
    h2{
      font-size: 7rem;
    }
    
    h3{
      font-size: 2rem;
      color: orange;
      font-weight: 400;
    }
  }
  .work__clients_mobile{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    gap: 5rem;
    padding-block: 8rem;
  }

  .work__client-wrapper_mobile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 55vw;
  }

  .work__client-line_mobile{
    width: 100%;
    height: 1px;
    background-color: orange;
  }

  .work__client-link_mobile{
    text-wrap: nowrap;
    cursor: pointer;
    font-size: 2rem;
  }
}

/* -------------- MOBILE VERSION (LANSCAPE)------------------- */

@media (max-height: 500px) {
  
  .work__header{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid white;
    padding-inline: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36,36,36);
    z-index:5;
    position: fixed;
    top: 0;
    left: 0;

    h2{
      font-size: 3rem;
      transform: translateY(-10px);
    }

    h3{
      margin-top: -1.5rem;
      font-size: 1rem;
      color: orange;
      font-weight: 400;
      transform: translateX(1ch);
    }
  }
  .work__client-link{
    font-size: 4vh;
  }
}