@keyframes aboutAnimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
  }
}

.about{
  width: 100vw;
  background-color:black;
  overflow: hidden;
}

.about-wrapper{
  padding-block: 30vh;
}

.about-text{
  width: 100%;
  margin: auto;
  transform: translateX(15%);
  font-weight: 600;
  font-size: 4.5rem;
  position: relative;

  span{
    width: 100%;
    transform-origin: right;
    overflow: hidden;
    text-wrap: nowrap;
    color: darkslategray;
    opacity: 0.6;
    position: absolute;
    font-weight: 600;
    font-size: 6rem;
    left: 0;
  }
  a{
    cursor: pointer;
    color: orange;
    text-decoration: underline;
  }
}
.about__line-wrapper{
  position: relative;
  margin-top: -1vh;
}
.about__overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}

.about-wrapper_mobile{
  display: none;
}

@media (max-width: 900px) {
  .about-wrapper_mobile{
    padding-block: 20vh;
    display: block
  }

  .about-text_mobile{
    font-size: 10vw;
    margin-left: 10%;
    position: relative;

    a{
      color: orange;
    }
  }

  .about__overlay_mobile{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
  }

  .about-wrapper{
    display: none;
  } 
  .about-text{
    font-size: 8vw;
    transform: translateX(5%)
  }
}